// Declaring our custom font
// Normal
@font-face {
  font-family: "General Sans", sans-serif;
  src: url("../assets/fonts/GeneralSans-Regular.otf") format("otf"),
    url("../assets/fonts/GeneralSans-Regular.ttf") format("ttf");
  font-weight: 400;
}
// Semibold
@font-face {
  font-family: "General Sans", sans-serif;
  src: url("../assets/fonts/GeneralSans-Semibold.otf") format("otf"),
    url("../assets/fonts/GeneralSans-Semibold.ttf") format("ttf");
  font-weight: 600;
}
// Bold
@font-face {
  font-family: "General Sans", sans-serif;
  src: url("../assets/fonts/GeneralSans-Bold.otf") format("otf"),
    url("../assets/fonts/GeneralSans-Bold.ttf") format("ttf");
  font-weight: 700;
}
